# TheBoys Access Transformers
# Converted from theboys.accesswidener

# AbstractSliderButton methods
public net.minecraft.client.gui.components.AbstractSliderButton m_347590_()Lnet/minecraft/resources/ResourceLocation; # getSprite
public net.minecraft.client.gui.components.AbstractSliderButton m_348083_()Lnet/minecraft/resources/ResourceLocation; # getHandleSprite

# LiquidBlock.getFluidState method
public net.minecraft.world.level.block.LiquidBlock m_5888_(Lnet/minecraft/world/level/block/state/BlockState;)Lnet/minecraft/world/level/material/FluidState; # getFluidState
